# *GLOBAL SHARK ATTACKS*

*Questions to be answered:*
        
1. In which year most sharks attacks occurred

2. Doing which activity most sharck attacks occurred in that year

# Imports

#### General Import

In [245]:
import pandas as pd
import numpy as np
import re
from datetime import datetime, date, time

#### Import file

In [104]:
file=pd.read_csv("attacks.csv", encoding="ISO-8859-1")

In [105]:
file.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

#### Save new csv file (readable) and import file

In [106]:
#Guardamos un nuevo csv para asegurar que podemos abrirlo desde el pc como csv.
file.to_csv("attacks_data.csv", index=False)

In [107]:
#Creamos dataframe nuevo para utilizar durante el proyecto
data=pd.read_csv("attacks_data.csv", encoding="ISO-8859-1")

# Data Cleaning

### Eliminating Duplicates, NaN & usless Columns&Rows

In [108]:
#miramos la shape del dataframe
data.shape

(25723, 24)

##### Eliminating usless Columns&Rows

In [109]:
#visualización de todas las columnas 
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [110]:
#eliminación de las columnas que carecen de valor en nuestro analisis
data.drop(columns=['Case Number','Name','Investigator or Source', 'href formula', 'href','original order', 'Unnamed: 22',
       'Unnamed: 23', 'pdf','Area','Age','Sex ','Location','Case Number.1', 'Case Number.2','Species ','Time','Country'], inplace=True)

In [111]:
#comprobación
data.head(3)

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
0,25-Jun-2018,2018.0,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",N
1,18-Jun-2018,2018.0,Unprovoked,Standing,Minor injury to left thigh,N
2,09-Jun-2018,2018.0,Invalid,Surfing,Injury to left lower leg from surfboard skeg,N

##### Eliminating Nan Values

In [112]:
#Miramos cantidad de valores nulos
data.isnull().sum()

Date           19421
Year           19423
Type           19425
Activity       19965
Injury         19449
Fatal (Y/N)    19960
dtype: int64

In [113]:
#eliminación valores NaN de las filas que tienes todos sus valores como NaN
#Consideré que si más de 1/3 de la fila compelta era NaN no me servía
data.dropna(axis=0, how="any", thresh=3, inplace=True)

In [114]:
#Miramos cantidad de valores nulos quedan ahora
data.isnull().sum()

Date             0
Year             2
Type             4
Activity       544
Injury          28
Fatal (Y/N)    539
dtype: int64

In [115]:
#verificación que el shape ya es menor eliminando los valores nulos
data.shape

(6302, 6)

In [116]:
data

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
0,25-Jun-2018,2018.0,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",N
1,18-Jun-2018,2018.0,Unprovoked,Standing,Minor injury to left thigh,N
2,09-Jun-2018,2018.0,Invalid,Surfing,Injury to left lower leg from surfboard skeg,N
3,08-Jun-2018,2018.0,Unprovoked,Surfing,Minor injury to lower leg,N
4,04-Jun-2018,2018.0,Provoked,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N
...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,Diving,FATAL,Y
6298,Before 1903,0.0,Unprovoked,Pearl diving,FATAL,Y
6299,1900-1905,0.0,Unprovoked,Swimming,FATAL,Y
6300,1883-1889,0.0,Unprovoked,NaN,FATAL,Y
6301,1845-1853,0.0,Unprovoked,Swimming,"FATAL. ""Shark bit him in half, carrying away t...",Y

##### Eliminating Duplicates

In [117]:
#miramos la shape del dataframe
data.shape

(6302, 6)

In [118]:
#eliminación de duplicados
data=data.drop_duplicates()

In [119]:
#verificación que el shape ya es menor eliminando los duplicados
data.shape

(6279, 6)

### Check if NaN values of the existing columns are interesting for our analysis

#### Observación de valores nulos

In [120]:
data.isnull().sum()

Date             0
Year             2
Type             4
Activity       540
Injury          28
Fatal (Y/N)    539
dtype: int64

##### Valores nulos columna Year

In [121]:
#Nos interesa, lo dejamos para trabajar más adelante
data[data["Year"].isnull()]

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
187,Reported 08-Jan-2017,NaN,Invalid,Spearfishing,"No attack, shark made a threat display",NaN
6079,Reported 19-Aug-1836,NaN,Unprovoked,Swimming,FATAL,Y

##### Valores nulos columna Type

In [122]:
#Nos interesa, lo dejamos para trabajar más adelante.
#Además ya lo subtituimos porque vemos que el type no sería provocado 
data[data["Type"].isnull()]

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
85,15-Sep-2017,2017.0,NaN,Fishing,Injuries to hands and legs,N
382,27-Jul-2015,2015.0,NaN,Surfing,Injury to hand,NaN
4867,Reported 11-Sep-1936,1936.0,NaN,Wreck of a sampam,FATAL,Y
5705,Reported 03-Mar-1890,1890.0,NaN,Diving,FATAL,Y

In [123]:
data["Type"].fillna("Unprovoked", inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

##### Valores nulos columna Activity, Injury, Fatal (Y/N)

In [124]:
#Activity, Injury, Fatal (Y/N) los dejamos porque nos interesará jugar con los valores nulos

### Reseting Index

In [125]:
#reseteamos índice y eliminamos el anterior
data.reset_index(drop=True, inplace=True)

In [126]:
#comprobamos
data.head(2)

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
0,25-Jun-2018,2018.0,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",N
1,18-Jun-2018,2018.0,Unprovoked,Standing,Minor injury to left thigh,N

### Filling in NaN with data

#### Observación de valores nulos

In [127]:
#visualización de la suma de todos los valores nulos para elegir cuales limpiar
data.isnull().sum()

Date             0
Year             2
Type             0
Activity       540
Injury          28
Fatal (Y/N)    539
dtype: int64

##### Filling in NaN from column "Fatal (Y/N)" and cleaning data from column

In [128]:
#visualización de las columnas con valores nulos de la columna "Fatal (Y/N)" para su limpieza 
#Vemos que para muchos vaores nulos no se está seguro de haber sido un tiburón el que causó la muerte y/o heridas
data[data["Fatal (Y/N)"].isnull()]

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
27,15-Apr-2018,2018.0,Unprovoked,Swimming,"Multiple severe injuries to arms and leg, leg ...",NaN
76,01-Oct-2017,2017.0,Invalid,Scuba Diving,FATAL,NaN
79,24-Sep-2017,2017.0,Invalid,Surfing,"Lacerations to right ankle, foot & toe",NaN
84,15-Sep-2017,2017.0,Invalid,Scuba Diving,"FATAL, but death was probably due to drowning",NaN
98,26-Aug-2017,2017.0,Invalid,Swimming,Lacerations to left foot,NaN
...,...,...,...,...,...,...
6125,1767,1767.0,Invalid,Bathing,Lacerations to arm & leg,NaN
6135,1733,1733.0,Invalid,NaN,"Partial hominid remains recovered from shark, ...",NaN
6136,1723,1723.0,Unprovoked,NaN,Struck on thigh,NaN
6142,Late 1600s Reported 1728,1642.0,Invalid,Went overboard,FATAL,NaN
6210,"No date, Before 1963",0.0,Invalid,Diving,A 4.3 m [14'] shark made threat display. No in...,NaN

In [129]:
#Substitución de valores nulos de columna Fatal (Y/N) a N
data["Fatal (Y/N)"].fillna("N")

0       N
1       N
2       N
3       N
4       N
       ..
6274    Y
6275    Y
6276    Y
6277    Y
6278    Y
Name: Fatal (Y/N), Length: 6279, dtype: object

In [130]:
#vemos que valores hay únicos en la columna Fatal (Y/N) 
list(set(data["Fatal (Y/N)"]))

[nan, 'UNKNOWN', '2017', ' N', 'Y', 'M', 'y', 'N ', 'N']

In [131]:
#igualamos "y" y "Y"

data.loc[data["Fatal (Y/N)"] == "y", "Fatal (Y/N)"] = "Y"

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [132]:
#igualamos M a N, entendiendo que fue un despiste de letra
data.loc[data["Fatal (Y/N)"] == "M", "Fatal (Y/N)"] = "N"

In [133]:
#igualamos " N" a N
data.loc[data["Fatal (Y/N)"] == " N", "Fatal (Y/N)"] = "N"

In [134]:
#igualamos "N " a N
data.loc[data["Fatal (Y/N)"] == "N ", "Fatal (Y/N)"] = "N"

In [135]:
#vemos valor 2017 Y al parecer no fue fatal. substituímos valor a N
data[data["Fatal (Y/N)"]=="2017"]

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
785,10-Jun-2012,2012.0,Provoked,Attempting to rescue an injured & beached shark,Lower left leg injured PROVOKED ACCIDENT,2017

In [136]:
data.loc[data["Fatal (Y/N)"] == "2017", "Fatal (Y/N)"] = "N"

/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [137]:
#vemos que casi no hay data de ninguna columna si filtramos por unknown=columna Fatal (Y/N)
#así que decido eliminarlos
data[data["Fatal (Y/N)"]=="UNKNOWN"]

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
623,08-Sep-2013,2013.0,Unprovoked,NaN,No details,UNKNOWN
1268,20-Apr-2008,2008.0,Unprovoked,NaN,NaN,UNKNOWN
2248,07-Jun-1997,1997.0,Unprovoked,Bathing,NaN,UNKNOWN
2258,21-Feb-1997,1997.0,Unprovoked,NaN,No details,UNKNOWN
2265,29-Dec-1996,1996.0,Unprovoked,Surfing,NaN,UNKNOWN
...,...,...,...,...,...,...
6145,Reported 1617,1617.0,Unprovoked,NaN,NaN,UNKNOWN
6147,1595,1595.0,Unprovoked,Ship lay at anchor & man was working on its ru...,"Leg severed mid-thigh, hand severed, arm above...",UNKNOWN
6149,1555,1555.0,Unprovoked,Swimming,NaN,UNKNOWN
6150,Ca. 1554,1554.0,Unprovoked,NaN,NaN,UNKNOWN
6255,Before 1927,0.0,Unprovoked,NaN,NaN,UNKNOWN

In [138]:
data.drop(data[data["Fatal (Y/N)"]=="UNKNOWN"].index, inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [139]:
#comprombamos cambios
data.shape

(6209, 6)

In [140]:
#comprombamos cambios
list(set(data["Fatal (Y/N)"]))

[nan, 'N', 'Y']

In [141]:
data[data["Fatal (Y/N)"].isnull()].head(50)

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
27,15-Apr-2018,2018.0,Unprovoked,Swimming,"Multiple severe injuries to arms and leg, leg ...",NaN
76,01-Oct-2017,2017.0,Invalid,Scuba Diving,FATAL,NaN
79,24-Sep-2017,2017.0,Invalid,Surfing,"Lacerations to right ankle, foot & toe",NaN
84,15-Sep-2017,2017.0,Invalid,Scuba Diving,"FATAL, but death was probably due to drowning",NaN
98,26-Aug-2017,2017.0,Invalid,Swimming,Lacerations to left foot,NaN
107,29-Jul-2017,2017.0,Invalid,Swimming,Abrasions and cuts to sole of foot,NaN
115,20-Jul-2017,2017.0,Invalid,Swimming,Foot injured,NaN
124,02-Jul-2017,2017.0,Invalid,Fishing,"Skull found in shark, a probable drowning & sc...",NaN
125,29-Jun-2017,2017.0,Invalid,Fishing,"Arm injured by hook, not by a shark",NaN
145,03-May-2017,2017.0,Invalid,Surfing,"Laceration to thigh, likely caused by surfboar...",NaN
151,26-Apr-2017,2017.0,Invalid,Photo shoot,Alleged laceration to left ankle,NaN
153,20-Apr-2017,2017.0,Invalid,Swimming,Laceration & puncture wounds to left foot,NaN
159,12-Apr-2017,2017.0,Invalid,Scuba Diving,"Fatal, coroner unable to determine if the dive...",NaN
187,Reported 08-Jan-2017,NaN,Invalid,Spearfishing,"No attack, shark made a threat display",NaN
189,03-Jan-2017,2017.0,Invalid,Wading,Minor injuries to foot & toes,NaN
195,11-Dec-2016,2016.0,Invalid,Surfing,Cuts to right ankle & foot,NaN
206,13-Oct-2016,2016.0,Invalid,Cage Diving,"Shark breached cage, no injury to diver",NaN
226,Sep-2016,2016.0,Invalid,Cage Diving,"No injury to divers, white shark breached cage",NaN
265,07-Jun-2016,2016.0,Invalid,Surfing,"No injury, board damaged",NaN
269,02-Jun-2016,2016.0,Unprovoked,Spearfishing,"No injury, but sharks repeatedly hit their fin...",NaN
289,08-Apr-2016,2016.0,Invalid,NaN,"""Serious""",NaN
291,07-Apr-2016,2016.0,Invalid,SUP,Fell off board when spinner shark leapt from t...,NaN
294,28-Mar-2016,2016.0,Unprovoked,NaN,Minor injury to arm. Possibly caused by smalll...,NaN
297,13-Mar-2016,2016.0,Invalid,Surfing,Board reportedly bumped by shark. No injury,NaN
306,Reported 10-Feb-2016,2016.0,Invalid,Feeding stingrays?,Minor injury to wrist from Southern stingray,NaN
307,10-Feb-2016,2016.0,Invalid,Surfing,"No injury, knocked off board",NaN
334,07-Nov-2015,2015.0,Invalid,Surfing,Lower left leg injured,NaN
344,17-Oct-2015,2015.0,Invalid,Surfing,Left foot bitten by eel,NaN
373,22-Aug-2015,2015.0,Invalid,NaN,Wound to right lower leg,NaN
378,18-Aug-2015,2015.0,Invalid,Swimming,Minor injury when he attempted to touch a fish.,NaN
382,27-Jul-2015,2015.0,Unprovoked,Surfing,Injury to hand,NaN
384,26-Jul-2015,2015.0,Invalid,Floating,"2' cut to dorsum of foot, 2 puncture wounds to...",NaN
391,08-Jul-2015,2015.0,Invalid,Treading water,Laceration to back,NaN
392,06-Jul-2015,2015.0,Invalid,Swimming,Parallel lacerations to torso inconsistent wit...,NaN
402,26-Jun-2015,2015.0,Invalid,Swimming,Minor lacerations to leg,NaN
437,29-Mar-2015,2015.0,Invalid,Diving,"FATAL, but shark involvement prior to death un...",NaN
438,31-Mar-2015,2015.0,Invalid,Surfing,Injury to left thigh from unidentified species...,NaN
456,19-Jan-2015,2015.0,Invalid,Surfing & filming dolphins,Board snapped in two,NaN
459,08-Jan-2015,2015.0,Invalid,Swimming after falling overboard,"During his 16-hour swim to shore, he was circl...",NaN
466,28-Dec-2014,2014.0,Invalid,Swimming,Minor cuts on feet,NaN
498,13-Sep-2014,2014.0,Invalid,Surfing,"A hoax, no shark involvement",NaN
506,29-Aug-2014,2014.0,Invalid,NaN,Shark involvement not confirmed,NaN
524,Aug-2014,2014.0,Invalid,Sea disaster,Shark involvement prior to death not confirmed,NaN
531,13-Jul-2014,2014.0,Invalid,Shark diving,"Missing after a dive, shark involvement consid...",NaN
557,Reported 10-May-2014,2014.0,Invalid,Diving,No injury. No attack. 12' white shark appeared...,NaN
569,29-Mar-2014,2014.0,Invalid,Diving for lobsters,Shark bites may have been post mortem,NaN
575,18-Mar-2014,2014.0,Invalid,NaN,"Injuries to wrist/hand by a mackerel, not a shark",NaN
577,13-Mar-2014,2014.0,Invalid,Scuba diving / culling lionfish,"Caribbean reef shark buzzed him. No injury, no...",NaN
632,29-Aug-2013,2013.0,Invalid,Marathon swimming,Puncture wound to torso. Reported as a bite by...,NaN
656,07-Jul-2013,2013.0,Invalid,Swimming,Scrape to right forearm. Frennet says inflicte...,NaN

In [142]:
#eliminamos valores nulos porque vemos que mayoritariamente no hay información o bien no es valido ya que no parece ser resultado de un tiburón
data.dropna(subset=["Fatal (Y/N)"], inplace=True)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [143]:
#comprobación
data[data["Fatal (Y/N)"].isnull()]

Empty DataFrame
Columns: [Date, Year, Type, Activity, Injury, Fatal (Y/N)]
Index: []

In [144]:
#comprobación
data

,Date,Year,Type,Activity,Injury,Fatal (Y/N)
0,25-Jun-2018,2018.0,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",N
1,18-Jun-2018,2018.0,Unprovoked,Standing,Minor injury to left thigh,N
2,09-Jun-2018,2018.0,Invalid,Surfing,Injury to left lower leg from surfboard skeg,N
3,08-Jun-2018,2018.0,Unprovoked,Surfing,Minor injury to lower leg,N
4,04-Jun-2018,2018.0,Provoked,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,N
...,...,...,...,...,...,...
6274,Before 1903,0.0,Unprovoked,Diving,FATAL,Y
6275,Before 1903,0.0,Unprovoked,Pearl diving,FATAL,Y
6276,1900-1905,0.0,Unprovoked,Swimming,FATAL,Y
6277,1883-1889,0.0,Unprovoked,NaN,FATAL,Y
6278,1845-1853,0.0,Unprovoked,Swimming,"FATAL. ""Shark bit him in half, carrying away t...",Y

In [145]:
#Subtituimos N/Y por 0/1 para luego hacer calculos con ellos valores
data.replace({"Fatal (Y/N)": {"Y":1, "N":0}}, inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:6666: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regex=regex,

In [146]:
#cambiamos nombre columna
data.rename(columns = {"Fatal (Y/N)":"Fatal"}, inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

##### Cleaning column "Year"

In [147]:
data["Year"].isnull().sum()

1

In [148]:
#eliminamos valores nulos porque vemos que no aporta valor (poca en información en todas las filas)
data.dropna(subset=["Year"], inplace=True)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [149]:
#comprobamos que está eliminado
data[data["Year"].isnull()]

Empty DataFrame
Columns: [Date, Year, Type, Activity, Injury, Fatal]
Index: []

##### Cleaning column "Year"

In [150]:
data["Date"]

0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6274    Before 1903
6275    Before 1903
6276      1900-1905
6277      1883-1889
6278      1845-1853
Name: Date, Length: 5669, dtype: object

In [151]:
#reemplazamos "-" por espacios

data["Date"]=data["Date"].str.replace("-"," ")

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [152]:
data["Date"]=data["Date"].str.replace("."," ")

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [153]:
#separamos parablas por los espacios
data["Date"]=data["Date"].str.split(" ")

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [154]:
#modificamos el type de columna year a inter.
data["Year"]=data["Year"].astype("int32")

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [155]:
#guardamos solo el último año de columna Date
data["Year"]=data["Date"].str[-1]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [156]:
#comprobamos
data["Year"].tail(10)

6269    1911
6270    1862
6271    1906
6272    1906
6273    1906
6274    1903
6275    1903
6276    1905
6277    1889
6278    1853
Name: Year, dtype: object

In [157]:
#separamos la s del final que encontramos en algunas fechas y nos quedamos con sólo el año
data["Year"].str.split("s")

0       [2018]
1       [2018]
2       [2018]
3       [2018]
4       [2018]
         ...
6274    [1903]
6275    [1903]
6276    [1905]
6277    [1889]
6278    [1853]
Name: Year, Length: 5669, dtype: object

In [158]:
data["Year"]=data["Year"].str[0:4]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [159]:
#comprobamos
data["Year"]

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
6274    1903
6275    1903
6276    1905
6277    1889
6278    1853
Name: Year, Length: 5669, dtype: object

In [216]:
#Comprobamos que todos sean años, vemos que no
data["Year"].unique()

array(['2018', '2017', '05', '2016', '2015', 'May2', '2014', '2013',
       'Nov2', '2012', '2011', '', '2008', '2010', '2009', '2006', '2007',
       'b', 'a', '2005', '2004', 'week', '2003', '2002', '2001', '2000',
       '1999', '1998', '1997', '1996', '1995', '1984', '1994', 'Kong',
       '1993', '1992', '1991', '1990', '1989', '1988', '1987', '1986',
       '1985', '1983', '1982', '1981', '1980', '1979', '1978', '1977',
       '1976', '1975', '1974', '1973', '1972', '1971', '1970', '1969',
       '1968', '1967', '1966', '1965', '1964', '1954', '1963', '1962',
       '1961', '1960', '1959', 'Repo', '1958', '1957', '1956', '1955',
       '1953', '1952', '1951', '1950', '19', '1949', '1948', '1848',
       '1947', '1946', '1945', '1944', '144', '1943', '1942', '1941',
       '1940', '1939', 'II', '1938', '1937', 't937', '1936', '1935',
       '1934', '1933', '1932', '1931', '1930', '1929', '1928', '1927',
       '1926', '1925', '1924', '1923', '1922', '1921', '1920', '1919',
       '1918', '1917', '1916', '1915', '1914', '1913', '1912', '1911',
       '1910', '1909', '1908', '1907', '1906', '1905', '1904', '1903',
       '1902', '1901', '1900', '1899', 'Lady', '1898', '24', 'War)',
       '1897', 'Decp', '1896', '1895', '1894', '1893', '1892', '1891',
       '1890', '1889', '1888', '1887', '1886', '1885', '1884', '1883',
       '1843', '1882', '1881', '1880', '1879', '1878', '1877', '1876',
       '1875', '1874', '1870', '1873', '1872', '1871', '1869', '1868',
       '(?)', '1867', '1866', '1865', '1864', '1863', '1862', '1861',
       '1860', '1859', '1858', '1857', '1856', '1855', '1853', '1854',
       '1852', '1851', '1850', '1849', '1847', '1846', '1845', '1844',
       'R', '1842', '1841', '1840', '1839', '1837', '1835', '1834',
       '1832', '1831', '1830', '1829', '1828', '1827', '1826', '1820',
       '1817', '1816', '1815', '1812', '1811', '1810', '1808', '1801',
       '1800', '1797', '1792', '1788', '1787', '1786', '1784', '1780',
       '1779', '1776', '1771', '1764', '1758', '1753', '1751', '1749',
       '1748', '1742', '1738', '1721', '1703', '1700', '1642', '1580',
       '1543', 'date', 'war"'], dtype=object)

In [240]:
##Debería hacer una función (lo haré en el futuo porque me quedé sin tiempo)##

##### Creating Month column

In [160]:
data["Date"]

0       [25, Jun, 2018]
1       [18, Jun, 2018]
2       [09, Jun, 2018]
3       [08, Jun, 2018]
4       [04, Jun, 2018]
             ...
6274     [Before, 1903]
6275     [Before, 1903]
6276       [1900, 1905]
6277       [1883, 1889]
6278       [1845, 1853]
Name: Date, Length: 5669, dtype: object

In [161]:
data["Month"]=data["Date"].str[-2]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [162]:
data["Month"]

0          Jun
1          Jun
2          Jun
3          Jun
4          Jun
         ...
6274    Before
6275    Before
6276      1900
6277      1883
6278      1845
Name: Month, Length: 5669, dtype: object

In [163]:
data["Month"].fillna("Unknown", inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [164]:
data["Month"].replace(["23", " ","Before","1941","1900","1883","1845"], "Unknown", inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [165]:
data["Month"]

0           Jun
1           Jun
2           Jun
3           Jun
4           Jun
         ...
6274    Unknown
6275    Unknown
6276    Unknown
6277    Unknown
6278    Unknown
Name: Month, Length: 5669, dtype: object

In [166]:
#confirmación
data.tail(2)

,Date,Year,Type,Activity,Injury,Fatal,Month
6277,"[1883, 1889]",1889,Unprovoked,NaN,FATAL,1,Unknown
6278,"[1845, 1853]",1853,Unprovoked,Swimming,"FATAL. ""Shark bit him in half, carrying away t...",1,Unknown

##### Cleaning column Activity

In [167]:
data.isnull().sum()

Date          0
Year          0
Type          0
Activity    380
Injury        1
Fatal         0
Month         0
dtype: int64

In [168]:
data["Activity"].head(-10)

0                                   Paddling
1                                   Standing
2                                    Surfing
3                                    Surfing
4                                Free diving
                        ...
6264                      4 men were bathing
6265    Wreck of  large double sailing canoe
6266                                Swimming
6267                                 Fishing
6268                                  Wading
Name: Activity, Length: 5659, dtype: object

In [169]:
data["Activity"].str.findall("(.+ing$)")

0           [Paddling]
1           [Standing]
2            [Surfing]
3            [Surfing]
4        [Free diving]
             ...
6274          [Diving]
6275    [Pearl diving]
6276        [Swimming]
6277               NaN
6278        [Swimming]
Name: Activity, Length: 5669, dtype: object

In [170]:
#decido quitar los valores nulos ya que quiro responderme que actividad es con la que más ataques de tiburón hay. 
#si no hay actividad no nos interesa por ahora.
data[data["Activity"].isnull()].head(-10)

,Date,Year,Type,Activity,Injury,Fatal,Month
47,"[28, Jan, 2018]",2018,Unprovoked,NaN,Injuries to right leg,0,Jan
108,"[29, Jul, 2017]",2017,Unprovoked,NaN,Bite to left thigh / minor injury,0,Jul
112,"[23, Jul, 2017]",2017,Unprovoked,NaN,Minor injury to hand,0,Jul
114,"[22, Jul, 2017]",2017,Unprovoked,NaN,Foot bitten,0,Jul
154,"[17, Apr, 2017]",2017,Unprovoked,NaN,Minor bite to the foot,0,Apr
...,...,...,...,...,...,...,...
6173,"[Before, 1900]",1900,Provoked,NaN,Cut to arm while roping shark PROVOKED INCIDENT,0,Unknown
6177,"[Before, 2011]",2011,Provoked,NaN,Bitten by captive sharks PROVOKED INCIDENTS,0,Unknown
6183,"[Before, 08, Jun, 1912]",1912,Unprovoked,NaN,FATAL,1,Jun
6201,"[No, date,, Before, Aug, 1989]",1989,Unprovoked,NaN,FATAL,1,Aug
6203,"[No, date,, Before, 1987]",1987,Unprovoked,NaN,Foot severed,0,Unknown

In [171]:
data.dropna(subset=["Activity"], inplace=True)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [172]:
data.isnull().sum()

Date        0
Year        0
Type        0
Activity    0
Injury      1
Fatal       0
Month       0
dtype: int64

#### Cleaning column Injury

In [173]:
#vemos que hay un valor nulo, lo substituímos por death ya que vemos que sí fue Fatal
data[data["Injury"].isnull()]

                 Date  Year        Type  Activity Injury  Fatal Month
6118  [12, Dec, 1784]  1784  Unprovoked  Swimming    NaN      1   Dec

In [174]:
data["Injury"].fillna("death", inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [175]:
data.isnull().sum()

Date        0
Year        0
Type        0
Activity    0
Injury      0
Fatal       0
Month       0
dtype: int64

#### Cleaning column Type

In [176]:
data["Type"].nunique()

8

In [177]:
data["Type"].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Boat', 'Boatomg'], dtype=object)

In [178]:
#Vemos que de esos 8 valores uno es Boating, y la mayoría de heridas son leves, así que pasamos a valor Unprovoked
data[data["Type"]=="Boating"]

,Date,Year,Type,Activity,Injury,Fatal,Month
0,"[25, Jun, 2018]",2018,Boating,Paddling,"No injury to occupant, outrigger canoe and pad...",0,Jun
86,"[Sep, 2017]",2017,Boating,Fishing,"sharks rammed boats, no injury to occupants",0,Sep
105,"[01, Aug, 2017]",2017,Boating,Kayaking / Fishing,"No injury, bow of kayak bitten",0,Aug
116,"[20, Jul, 2017]",2017,Boating,Kayaking,"No injury, kayak bitten",0,Jul
120,"[11, Jul, 2017]",2017,Boating,Kayaking,"No injury, kayak bitten",0,Jul
...,...,...,...,...,...,...,...
5859,"[14, Nov, 1874]",1874,Boating,Fishing,"Shark damaged boat, but no injury to occupants",0,Nov
5860,"[23, Jul, 1874]",1874,Boating,Fishing,Shark and boat collided. No injury to occupants,0,Jul
5867,"[Reported, 20, Apr, 1874]",1874,Boating,Fishing,Shark bit & tipped the dory,0,Apr
5916,"[Reported, 01, Mar, 1865]",1865,Boating,Fishing,"FATAL: Boat capsized, sharks took fishermen",1,Mar
5917,[1865],1865,Boating,Boarding a ship,"No injury to pilot, oar bitten",0,Unknown

In [179]:
data["Type"].replace(["Boating"], "Unprovoked", inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [180]:
data["Type"].replace(["Boatomg"], "Unprovoked", inplace=True)

In [181]:
data["Type"].replace(["Boat"], "Unprovoked", inplace=True)

In [182]:
#Vemos que de esos 7 valores uno es Sea Disaster, y la mayoría de heridas son leves, así que pasamos a valor Unprovoked
data["Type"].replace(["Sea Disaster"], "Unprovoked", inplace=True)

In [183]:
data["Type"].nunique()

4

In [184]:
data

,Date,Year,Type,Activity,Injury,Fatal,Month
0,"[25, Jun, 2018]",2018,Unprovoked,Paddling,"No injury to occupant, outrigger canoe and pad...",0,Jun
1,"[18, Jun, 2018]",2018,Unprovoked,Standing,Minor injury to left thigh,0,Jun
2,"[09, Jun, 2018]",2018,Invalid,Surfing,Injury to left lower leg from surfboard skeg,0,Jun
3,"[08, Jun, 2018]",2018,Unprovoked,Surfing,Minor injury to lower leg,0,Jun
4,"[04, Jun, 2018]",2018,Provoked,Free diving,Lacerations to leg & hand shark PROVOKED INCIDENT,0,Jun
...,...,...,...,...,...,...,...
6273,"[Before, 1906]",1906,Unprovoked,Swimming,FATAL,1,Unknown
6274,"[Before, 1903]",1903,Unprovoked,Diving,FATAL,1,Unknown
6275,"[Before, 1903]",1903,Unprovoked,Pearl diving,FATAL,1,Unknown
6276,"[1900, 1905]",1905,Unprovoked,Swimming,FATAL,1,Unknown
6278,"[1845, 1853]",1853,Unprovoked,Swimming,"FATAL. ""Shark bit him in half, carrying away t...",1,Unknown

## Final Table

In [185]:
data.reset_index(drop=True, inplace=True)

In [186]:
data_final=data[["Year","Month","Activity","Type","Fatal"]]

In [187]:
data_final

      Year    Month      Activity        Type  Fatal
0     2018      Jun      Paddling  Unprovoked      0
1     2018      Jun      Standing  Unprovoked      0
2     2018      Jun       Surfing     Invalid      0
3     2018      Jun       Surfing  Unprovoked      0
4     2018      Jun   Free diving    Provoked      0
...    ...      ...           ...         ...    ...
5284  1906  Unknown      Swimming  Unprovoked      1
5285  1903  Unknown        Diving  Unprovoked      1
5286  1903  Unknown  Pearl diving  Unprovoked      1
5287  1905  Unknown      Swimming  Unprovoked      1
5288  1853  Unknown      Swimming  Unprovoked      1

[5289 rows x 5 columns]

In [188]:
#Nos damos cuenta que no hemo limpiado la data 100% ya que hay filas
data_final=data_final.sort_values(["Year","Month","Activity"], ascending=[True,True,True])

In [189]:
data_final.reset_index(drop=True, inplace=True)

In [190]:
data_final

,Year,Month,Activity,Type,Fatal
0,,,Washing his pig in preparation for a religious...,Unprovoked,1
1,,1890,Wading,Unprovoked,0
2,,1903,"Swimming, after falling overboard",Unprovoked,0
3,,1955,Spearfishing,Unprovoked,0
4,,1962,Spearfishing with Scuba gear,Unprovoked,1
...,...,...,...,...,...
5284,date,No,Wading,Unprovoked,0
5285,date,No,yachtsman in a zodiac,Unprovoked,0
5286,t937,Sep,Fishing,Provoked,0
5287,"war""",the,Free diving,Unprovoked,0
5288,week,the,Fishing,Unprovoked,0

In [191]:
#descartamos finalmente esas files que no tiene año ni mes, para termianr de limpiarlo
data_final=data_final[22:5242]

In [192]:
data_final.reset_index(drop=True, inplace=True)

#### Final Table

In [193]:
data_final

,Year,Month,Activity,Type,Fatal
0,1543,,Pearl diving,Unprovoked,1
1,1580,Jan,Man fell overboard from ship. Those on board t...,Unprovoked,1
2,1642,Unknown,Swimming,Unprovoked,1
3,1700,Unknown,Bathing,Unprovoked,0
4,1700,Unknown,Bathing,Unprovoked,1
...,...,...,...,...,...
5215,2018,Feb,Walking,Unprovoked,0
5216,2018,Jan,Diving,Unprovoked,0
5217,2018,Jan,Free diving,Unprovoked,0
5218,2018,Jan,Spearfishing,Unprovoked,0
5219,2018,Jan,Surfing,Unprovoked,0

In [239]:
#guardamos la data limpia en un nuevo csv
#pero tengo que mejorarlo así que volveré a ello
data_final.to_csv('attacks_data_clean.csv')

## La respuesta a nuestras preguntas sería:

1- In which year most sharks attacks occurred

2- Doing which activity most sharck attacks occurred in that year

###### 1- In which year most sharks attacks occurred -> 2015

Vemos que cada año que pasa hay más ataques.

Pero, tambien tenemos que tener en cuenta que cada año quizás se registran los ataques con más precisión. También podría ser la razón de que cada año augmenten

In [274]:
data_final["Year"].value_counts().head(20)

2015    124
2016    116
2017    116
2014    114
2011    114
2009    109
2012    109
2013    107
2008    106
2007     98
2010     94
2006     91
2000     87
2005     87
2003     84
2002     82
2004     79
2001     79
1960     75
1962     72
Name: Year, dtype: int64

*Note:*

Debo arreglar las fechas ya que hay algunos errores y no puedo sacar la grafica:

- Así haría el grafico para saber la relación entre número de ataques y si han sido Fatal
    data.plot(data_final.Year,data_final.Fatal)
       
- Así haría el grafico para saber como han ido evolucionando el número de ataques:
    data.plot(data_final["Year"].value_counts())

######  2- Doing which activity most sharck attacks occurred in that year -> Surfing

In [287]:
data_final[data_final["Year"]=="2015"]

      Year Month                 Activity        Type  Fatal
4835  2015   Apr          Paddle boarding  Unprovoked      0
4836  2015   Apr  Photographing the shark  Unprovoked      0
4837  2015   Apr               Snorkeling  Unprovoked      1
4838  2015   Apr             Spearfishing  Unprovoked      0
4839  2015   Apr                  Surfing  Unprovoked      0
...    ...   ...                      ...         ...    ...
4954  2015   Sep                  Surfing  Unprovoked      0
4955  2015   Sep                  Surfing  Unprovoked      0
4956  2015   Sep                 Swimming  Unprovoked      0
4957  2015   Sep                   Wading  Unprovoked      0
4958  2015   Sep                   Wading  Unprovoked      0

[124 rows x 5 columns]

In [276]:
data_final["Activity"].value_counts().head(20)

Surfing            916
Swimming           761
Fishing            403
Spearfishing       302
Bathing            147
Wading             133
Diving             109
Standing            94
Snorkeling          85
Scuba diving        63
Body boarding       61
Body surfing        46
Swimming            40
Pearl diving        31
Kayaking            31
Treading water      30
Fell overboard      27
Boogie boarding     24
Free diving         23
Windsurfing         19
Name: Activity, dtype: int64

*Note:*
- Pasa igual que en Year, debo impiar las palabras mejor para reducir las actividades en grupos